<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MMXReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MMXReport.Properties.Settings>
            <setting name="DataDBName" serializeAs="String">
                <value>KMMG_LIFT_Data</value>
            </setting>
            <setting name="ConfigDBName" serializeAs="String">
                <value>KMMG_LIFT_Config</value>
            </setting>
            <setting name="DB_Id" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DB_Pwd" serializeAs="String">
                <value>nada1234</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ProjectSite" serializeAs="String">
                <value>KMMG</value>
            </setting>
            <setting name="LastUICulture" serializeAs="String">
                <value>Ko-KR</value>
            </setting>
            <setting name="LanguageSelectedIdx" serializeAs="String">
                <value>1</value>
            </setting>
        </MMXReport.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
