<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MMXReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MMXReport.Properties.Settings>
            <setting name="DataDBName" serializeAs="String">
                <value>MMX_MODULE_Data</value>
            </setting>
            <setting name="ConfigDBName" serializeAs="String">
                <value>MMX_MODULE_Config</value>
            </setting>
            <setting name="DB_Id" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DB_Pwd" serializeAs="String">
                <value>nada123!</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>127.0.0.1\SQL2014</value>
            </setting>
        </MMXReport.Properties.Settings>
    </userSettings>
</configuration>